@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Source+Code+Pro:ital,
            "wght@0,400;0,600;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

h1 {
    font-family: "Ubuntu";
    text-align: center;
    font-weight: 400;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

p {
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
}

.subtitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 350;
    font-size: 12pt;
}