@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Source+Code+Pro:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffefc3;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.flex > div {
    max-width: 450px;
    padding: 20px;
    text-align: left;
}

/* Header & Footer Area */

header {
    text-align: center;
    width: 100%;
}

footer, .subheader {
    color: white;
    text-align: right;
}

.logo_area {
    text-align: center;
    background-color: #d9ebd3;
}

.subheader {
    background-color: #0a7099;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 350;
    font-size: 15pt;
    margin: 0px;
}

.logo_area, .subheader { padding: 20px; }


/* Navbar */
.nav {
    text-align: center;
    font-size: 15pt;
    font-weight: 200;
    color: white;
    background-color: #5ba94a;
    padding: 5px;
    overflow: clip;
    border: 0;
    line-height: 1.5;
}
  
/* Navigation links */
.nav a, .nav a:visited {
    padding: 12px;
    color: white;
    text-decoration: none;
    border: 0;
}

.nav a:hover {
    background-color: #ffefc3;
    color: #0a7099;
}

a.active {
    color: #ffefc3 !important;
}

/* paragraph and headlines */ 

p {
    font-size: 12.5pt;
    font-weight: 300;
    line-height: 1.6;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

h1 {
    font-family: "Ubuntu";
    text-align: center;
    font-weight: 400;
    background-color: #d9ebd3;
}

/* Links */

a {
    color: #5ba94a;
    text-decoration: none;
    border-bottom: 1px dashed #5ba94a;
}

a:visited{
    color: #0386b7;
    border-bottom: 1px dashed  
}

a:hover {
    background-color: #ebf0f4;
}

a.active:hover {
    color: #5ba94a !important;
}

/* etc. */

footer {
    padding: 12px;
    background-color: #5ba94a;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

h3.small-title {
    margin-bottom: 5px;
    font-weight: 400;
}

.sponsor-image {
    width: 173px;
    float: left;
    padding-bottom: 15px;
}

.ikayzo {
    width: 155px;
    padding-top: 2px;
}

.sponsor-spacer {
    padding-right: 35px;
}

/* bullets */

ul {
    font-size: 12.5pt;
    font-weight: 300;
    line-height: 1.6;
    margin-block-start: .2em;
}

ul.a {
    list-style-type: circle;
}
  
/* media queries TODO - work on iPhones */
@media (max-width: 899px) {
    .flex {
        flex-direction: column;
    }

    .flex > div {
        max-width: 650px;
        padding-bottom: 0px;
    }
}















